In [2]:
import pandas as pd

In [7]:
path = r'C:\Users\adria\Desktop\Miratoni\Imports\Training Database.xlsx'
df = pd.read_excel(path)

In [9]:
df.drop_duplicates(inplace=True, ignore_index=True)
df

                    Description Commodity Code
0                LEITE M/ GORDO     0401201100
1                         NATAS     0401401090
2              LEITE CONDENSADO     0402991010
3                        FEIJAO     0713339000
4                          CAFE     0901210000
..                          ...            ...
392              Agua Oxigenada     2847000000
393                  PRE P/Pele     3304990000
394               Prod. Limpeza     3402209000
395  Preparacoes Desinfectantes     3808949090
396  Preparacoes disinfectantes     3808949090

[397 rows x 2 columns]

In [12]:
df['Commodity Code'] = df['Commodity Code'].apply(str)

In [23]:
df2 = pd.DataFrame()
df['Lengths'] = df['Commodity Code'].apply(lambda x: len(x))
df = df.loc[df['Lengths'] == 10]

In [27]:
df = df[['Description','Commodity Code']]
df['Description'] = df['Description'].str.upper()

                    Description Commodity Code
0                LEITE M/ GORDO     0401201100
1                         NATAS     0401401090
2              LEITE CONDENSADO     0402991010
3                        FEIJAO     0713339000
4                          CAFE     0901210000
..                          ...            ...
392              AGUA OXIGENADA     2847000000
393                  PRE P/PELE     3304990000
394               PROD. LIMPEZA     3402209000
395  PREPARACOES DESINFECTANTES     3808949090
396  PREPARACOES DISINFECTANTES     3808949090

[395 rows x 2 columns]

In [30]:
df.columns = ['Items','Codes']

In [31]:
df.columns

Index(['Items', 'Codes'], dtype='object')

In [32]:
df.to_pickle('database_df.pkl')